body{
	background: url(curtains.jpg) no-repeat center center fixed;
	background-size: cover;
}

.toprow{
	background-color: black;
	color: red;
	margin-top: 0%;
	margin-left:20%;
	margin-right: 20%;
}

.bottomrow{
	margin-left: 15%;
	margin-right: 15%;
}